.container {
  width: 600px;
  height: 200px;
  border: 5px solid #333;
  margin: 30px auto;
  padding: 5px;
  box-sizing: border-box;
  /* block | inline | inline-block | flex | flex-inline */
  display: flex;
  /* nowrap | wrap | wrap-reverse */
  /* flex-wrap: wrap; */
  /* arah item nya */
  /* row | row-reverse | column | column-reverse */
  /* flex-direction: row; */
  /* mengatur jarak antar item horizontal */
  /* flex-start | flex-end | center | space-between | space-around | space-evenly */
  /* justify-content: center; */
  /* mengatur jarak antar item vertical */
  /* flex-start | flex-end | center | stretch | baseline */
  align-items: flex-start;
  /* mengatur jarak antar items terhadap cross axis (hanya berfungsi ketika items lebih dari 1 baris) */
  /* flex-start | flex-end | center | space-between | space-around */
  /* align-content: flext-start; */
}

.container div {
  background-color: lightblue;
  margin: 2px;
  flex: 1;
}

/* flex | flex-grow */
.container div.two {
  flex: 2;
  /* mengatur perilaku penjajaran sebuah item yang spesifik terhadap cross axis */
  /* auto | flex-start | flex-end | center | stretch | baseline */
  align-self: center;
}

/* sorting order */
/* .one {
  order: 3
}

.two {
  order: 2
}

.three {
  order: 4
}

.four {
  order: 1
} */
